.enterprise .heading {font-weight: 500; font-size: 2.7rem}
.enterprise .subheading {font-weight: 300}

@media only screen and (min-device-width: 850px){
    .enterprise .jumbotron {height: auto}
    
    /* Position (flex) properties for jumbotron */
    .enterprise .jumbotron .container {height: inherit;display: flex;flex-flow: column}
    
    .enterprise .heading {margin-top: 6rem; margin-bottom: 1rem}
    .enterprise .subheading {margin-bottom: 1.2rem;}

    .enterprise .list {display: flex; flex-direction: row; padding-bottom: 5vh;}
    .enterprise .list .left {margin-top: 2rem; margin-left: 5rem; margin-right: 2rem}
    .enterprise .list .right {margin-top: 2rem; margin-left: 2rem; margin-right: 2rem}

    .enterprise .list li {margin: 0.75rem;}

    /* Design for jumbotron elements */
    .enterprise .subheading {font-size: 1.5rem}
    
}



/* gotta get the text to resize at certain points otherwise it creates UI errors */