.home .heading {font-weight: 500; font-size: 2.7rem;}
.home .subheading {font-weight: 500}
.description {font-weight: 300}

.jumbotron {background-color: var(--brand-color);color: white}
.about {background-color: var(--secondary-color); height: auto}

@media only screen and (min-device-width: 850px){
    /* Position (flex) properties for jumbotron */
    .home .jumbotron {height: 50vh}
    .home .jumbotron .container {
        height: inherit;
        display: grid;
        grid-template-columns: (2, 1fr);
    }

    .home .container .jumboImage {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .home .container .jumboText {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    /* Design for jumbotron elements */
    .home .jumbotron .container .heading {
        border: solid 0.35rem white;
        padding: 0.6rem 0.6rem;
        text-align: center;
    }

    .home .jumbotron h3 {
        margin: 1rem;
    }

    /* Position (flex) properties for currentPrograms */
    .home .currentPrograms .programs {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    /* Design for currentPrograms' elements */
    .home .currentPrograms .container .heading{
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .home .p-item {
        border: solid 0.02rem black;
        margin: 1.5rem;
        padding: 1rem;
        flex-basis: 25%;
    }

    /* Position (flex) properties for about */
    .home .about .content {
        display: flex;
        justify-content: space-between;
    }

    .home .about .image {
        margin: 0 auto;
    }
    /* Design for about elements */
    .home .about .description {
        font-weight: 300;
    }

    .home .about .container .heading {
        padding-top: 5rem;
    }
}