*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 92%;
    margin: 0 auto;
}

navbar .navLinks {
    list-style: none;
}

navbar a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-device-width: 850px){
    navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px;
    }
    
    navbar .brand {
        margin-right: auto;
    }
    
    navbar .navLinks li{
        display: inline-block;
        padding: 0 10px;
    }
}