@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500&display=swap');

$brand-color: #184586;
$gold: #f1b900;
$gray: #f9fafa;

@import './components/navFooter.scss';
@import './components/home.scss';
@import './components/services.scss';
@import './components/about.scss';
@import './components/contact.scss';
// @import './components/courses.scss';

* {
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	width: 92%;
	margin: 0 auto;
}

.jumboBlue {
	background-color: $brand-color;
	color: white;
}

.group {
	background-color: white;
	color: black;
}

// .heading {
// 	font-weight: 500;
// }
// .subheading {
// 	font-weight: 400;
// }
// .description {
// 	font-weight: 300;
// }

// .jumbotron {
// 	background-color: $brand-color;
// 	color: white;
// }
// .about {
// 	background-color: $secondary-color;
// 	height: auto;
// }
